# Default ignored files
/shelf/
/workspace.xml

# IntelliJ IDEA files
.idea/compiler.xml
.idea/sonarlint/issuestore/*
.idea/sonarlint/securityhotspotstore/*

# Compiled class files
target/classes/org/example/Arrangement.class
target/classes/org/example/Factorial.class
target/classes/org/example/FibonacciSeries.class
target/classes/org/example/ReverseString.class

